@use 'variaveis' as *;

$h-playlist-scroll: calc(120px + 150px + 10px + 70px);

:host {
  max-width: 300px;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: $cor-fundo-secundaria;
  box-shadow: 1px 1px 15px $cor-sombra;

  .menus {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 40px 0px 40px;

    .image-container {
      min-height: 120px;

      img {
        width: 70%;
      }
    }

    .menu-container {
      width: 100%;

      &.flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      &.opcoes {
        min-height: 150px;

        * {
          margin-bottom: 10px;
        }
      }

      .playlist-titulo {
        margin: 10px 0px;
        align-self: flex-start;
        font-weight: 700;
        font-size: 0.7rem;
        color: $cor-texto-secundario;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .playlist-scroll {
        width: 100%;
        overflow-y: auto;
        max-height: calc(95vh - #{$h-playlist-scroll});

        &::-webkit-scrollbar {
          display: none;
        }

        app-botao-menu {
          .playlist-img {
            width: 32px;
            height: 32px;
            border-radius: 4px;
            object-fit: cover;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
