<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src="img/logo-branco.png" alt="Spotifeio Logo" class="logo" />
  </div>

  <div class="menu-container flex opcoes" >
    <app-botao-menu
        [nome]="'Inicio'"
        [botaoSelecionado]="menuSelecionado === 'Inicio'"
        (onClick)="menuSelecionado = 'Inicio'">
      <fa-icon [icon]="faHome"></fa-icon>
    </app-botao-menu>

    <app-botao-menu
        [nome]="'Pesquisar'"
        [botaoSelecionado]="menuSelecionado === 'Pesquisar'"
        (onClick)="menuSelecionado = 'Pesquisar'">
      <fa-icon [icon]="faSearch"></fa-icon>
    </app-botao-menu>

    <app-botao-menu
        [nome]="'Artistas'"
        [botaoSelecionado]="menuSelecionado === 'Artistas'"
        (onClick)="menuSelecionado = 'Artistas'">
      <fa-icon [icon]="faUser"></fa-icon>
    </app-botao-menu>
  </div>

  <div class="menu-container flex">
    <span class="playlist-titulo">PLAYLISTS</span>

    <div class="playlist-scroll">
      @for ( playlist of playlists() ; track playlist.id) {
        <app-botao-menu [nome]="playlist.name">
          <img class="playlist-img" [src]="playlist.images[0].url" [alt]="playlist.id" />
        </app-botao-menu>
      }
    </div>
  </div>
</div>
