/* You can add global styles to this file, and also import other style files */
@use 'variaveis' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
